<div id="header">
    <div id="header-box">

        <div id="head-box-content">

            <a href="#" data-width="500" data-rel="popup_challenge" class="poplight" >
             <input type="button" class="button1" value="CHALLENGE" />
            </a>

           <a href="#" data-width="500" data-rel="popup_name" class="poplight" >
               <input type="button" class="button2" value="MESSAGE" />
           </a>
            <input  type="text" class="recherche" placeholder="Rechercher sur AwardMe" />
            <input type="submit" value="" class="submit"/>
        </div>
        <div id="site-title">
            <h1 id="title"><a href="{{ path('award_me_homepage') }}" id="title" >{{ webmaster }}</a></h1>
        </div>

        <div class="clear_right"></div>

    </div>
</div>





<div id="popup_name" class="popup_block">
    {% render(controller('AwardMeBundle:Publication:Add')) %}
</div>

{#

<div id="popup_challenge" class="popup_block">
    <h2>AwardMe.com</h2>
    <p>C'est la page des challenges</p>
</div>

#}
