#fade { /*--Masque opaque noir de fond--*/
    display: none; /*--masqué par défaut--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 9999;
}

.popup_block{
    display: none; /*--masqué par défaut--*/
    width: 500px;
    background: #41474c;
    padding: 20px;
    border: 0px solid #373d43;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    /*--Les différentes définitions de Box Shadow en CSS3--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--Coins arrondis en CSS3--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.popup_block a.close{
    position: absolute;
    right: 15px;
    top: 6px;
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}


/*-- POPUP PUBLICATION --*/

#popup_publication{
    background: #41474c;
    min-height: 200px;
    padding-bottom: 10px;
}

#popup_publication h3.title{
    text-align: center;
    padding: 5px 0;
    color: #7c7a7a;
    background: #FFFFFF;
    margin: -20px -20px 20px -20px;
    box-shadow: 2px 2px 5px #000000;
}

#popup_publication_img{
    width: 70px;
    float: left;
    height: 200px;
    background: #31373c;
    margin: -20px 0 -20px -20px;
    padding-top: 20px;
}
#popup_publication_img img.avatar{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-left: 10px;
}

#popup_publication_ctt{
    margin-left: 70px;
}

#popup_publication_ctt textarea.publication{
    height: 100px;
    border: 1px solid #313131;
    padding: 10px;
    width: 390px;
    resize: none;
    border-radius: 4px;
    background: #FFFFFF;
    margin-bottom: 10px;
    font-size: 1em;
}

#popup_publication input[type=submit].submit-pub{
    background: url('../images/ico/png_white/keyboard@2x.png') #f2b540 no-repeat left;
    background-size: 24px;
    text-indent: 17px;
    padding: 5px 10px;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 4px;
    float: left;
}

#legende_popup{ color: #FFFFFF; font-size: 11px; margin-left: 170px }

/*-- POPUP AVATAR --*/
#popup_avatar{
    background: #41474c;
    min-height: 200px;
    padding-bottom: 10px;
}

#popup_avatar h3.title{
    text-align: center;
    padding: 5px 0;
    color: #7c7a7a;
    background: #FFFFFF;
    margin: -20px -20px 20px -20px;
    box-shadow: 2px 2px 5px #000000;
}

#popup_avatar_ctt{
    margin-left: 120px;
}
#popup_avatar_ctt h4.step{
    color: #f2b540;
    padding-bottom: 5px;
    border-bottom: 1px dashed #000000;
    margin-bottom: 10px;
}

#popup_avatar_ctt input[type=file].change-avatar{
    width: 350px;
    border: 1px solid #0088CC;
    border-radius: 4px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-apparence:none;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}


#popup_avatar_ctt input[type=file]::-webkit-file-upload-button{ /*modification du bouton*/
    -webkit-apparence:none;
    background:#ecf0f1 none;
    border: 1px solid transparent;
    width: 150px;
    margin: -10px;
    padding: 10px;
}

#popup_avatar_ctt input[type=text].change-avatar{
    padding: 10px;
    width: 350px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
}

#popup_avatar input[type=submit].submit-avatar{
    background: url('../images/ico/png_white/keyboard@2x.png') #f2b540 no-repeat left;
    background-size: 24px;
    text-indent: 17px;
    padding: 5px 10px;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 120px;
}

#popup_avatar_avatar{
    float: left;
    margin-right: 20px;
}

#popup_avatar_avatar img.actual{
    width: 100px;
    height: auto;
}













