
/*
    COULEUR DES BOUTONS : #4fb1af
    COULEUR DES LIENS : #7c7a7a
    COULEUR DES LIENS:HOVER : #4fb1af
*/

html, body {
    height:100%;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    background: #41474c;
}

input::-webkit-input-placeholder {
    color: #303030;
}

input::-moz-placeholder {
    color: #999;
}

input:-moz-placeholder {   /* Older versions of Firefox */
    color: #999;

}
input:-ms-input-placeholder {
    color: #999;
}

textarea::-webkit-input-placeholder {
    color: #999;
}
textarea::-moz-placeholder {
    color: #999;
}
textarea:-moz-placeholder {   /* Older versions of Firefox */
    color: #999;
}
textarea:-ms-input-placeholder {
    color: #999;
}

::-webkit-scrollbar {
    width: 5px; /*largeur de la scrollbar verticale*/
    height: 5px; /*hauteur de la scrollbar horizontale*/
    background-color: #31373c;}

::-webkit-scrollbar-track {
    background-color: #373d43; /*couleur du fond de la scrollbar*/}

::-webkit-scrollbar-thumb { /*la petite bande qui monte/descend*/
    background-color: #31373c /*couleur de l'ascenseur*/;
}



.clear{ clear: both }
.clear_right{ clear: right }

a{ color : #7c7a7a; text-decoration: none;}
a:hover{ color: #4fb1af; }

a#title{ color: inherit }
a#title:hover{ color: #4fb1af}

h1{ font-size: 1.2em; font-weight: normal; margin: 0 }
h2{ font-size: 1.3em; font-weight: normal; margin: 0 }
h3{ font-size: 1.2em; font-weight: normal; margin: 0 }
h4{ font-size: 1.1em; font-weight: normal; margin: 0 }

input:focus{ outline: none }

input[type=button], input[type=submit], button{ cursor: pointer; }

#site{
    padding-bottom: 50px;
}

#header{
    background: #FFFFFF;
    color: #7c7a7a;
}


#header-box{
    width: 1000px;
    margin: 0 auto;
}

#site-title{
}


#menu-left{
    float: left;
    background: #373d43;
    width: 210px;
}

/*
    PARTIE DE DROITE POUR LE CONTENU GLOBAL
*/

#wrap{
    margin-left: 210px;
}


